build/
bld-dir/
dist/
cmake-build-*/
*.egg-info/
docs/_build/
playground/
temp/
test/stage/

__pycache__

# Documentation and tools
docs/_*/
docs/auto_examples/
docs/modules/
.history/
.vscode/
.history/